.authlite-infopage {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    margin-bottom: 20px;
    width: 340px;
    max-width: 90vw;
    text-align: center;
    margin: 25vh auto 0;
    font-size: 14px;
}