.authlite-signin-form {
    display: grid;
    grid-auto-flow: row;
    /* row-gap: 20px; */
    width: 100%;
    /* margin-top: 20px; */
}

.authlite-signin-form__forgot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
