.authlite-d1-signin-form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.authlite-d1-signin-form__forgot {
    display: flex;
    justify-content: flex-end;
}

.authlite-d1-signin-form__forgot button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #818181;
    transition: color 250ms ease-in-out;
}

.authlite-d1-signin-form__forgot button:hover {
    color: #107cc4;
}